* ,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
    box-sizing: border-box;
}

.header {
    background-color: #383838;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}

.header__nav-box {
    display: flex;
    align-items: center;
    align-self: stretch;
    text-decoration: none;
    list-style: none;
    padding-left: 1em;
}

.nav-items {
    width: 9rem;
}

.nav-items-1 {
    width: 13rem;
}

.logo {
    height: 8rem;
    width: 9rem;
}

.header__icon {
    padding-right: .6em;
}

.link {
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 3;
    color: #888;
    text-transform: uppercase;
}

.link:hover {
    color: #d35266;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: #d35266;
    border-radius: .3em;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}

.btn:active {
    transform: translateY(-1px);
}

.btn-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 7;
}

.header__avatar-box {
    display: flex;
    align-items: center;
    padding-right: 7em;
}

.user-nav__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4em;
    cursor: pointer;
    position: relative;
}

.chat__icon {
    height: 2rem;
    width: 2rem;
    fill: #888;
    
}

.chat__icon:hover {
    background-color: #383838;
}

.user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: palevioletred;
    color: #fff;
    position: absolute;
    top: -1rem;
    right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-nav__user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-nav__user-photo {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
}

.user-nav__user-name {
    color: #fff;
    padding-right: .3em;
}