* ,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
    box-sizing: border-box;
}

.header {
    background-color: #383838;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    width: auto;
    overflow: hidden;
}


.logo {
    height: 5rem;
    width: 8rem;
    transition: all .2s;
    box-shadow: 0 8px 25px rgba(0, 0, 0, .7);
}

.header__nav-box {
    display: flex;
    align-items: center;
    align-self: stretch;
    text-decoration: none;
    list-style: none;
    padding-left: 1em;
}

.nav-items {
    width: 9rem;
}

.nav-items-1 {
    width: 13rem;
}

.header__icon {
    padding-right: .6em;
}

.link {
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 3;
    color: #888;
    text-transform: uppercase;
    transition: all .2s;
}

.link:hover {
    color: #d35266;
}

.header__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: #d35266;
    border-radius: .3em;
    transition: all .2s;
}

.header__btn:hover,
.link:hover,
.logo:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}

.header__btn:active,
.link:active,
.logo:active {
    transform: translateY(-1px);
}

.header__btn-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 7;
}

.header__avatar-box {
    display: flex;
    align-items: center;
    padding-right: 8em;
}

.user-nav__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4em;
    cursor: pointer;
    position: relative;
}

.chat__icon {
    height: 2rem;
    width: 2rem;
    fill: #888;    
}

.chat__icon:hover {
    background-color: #383838;
}

.user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: palevioletred;
    color: #fff;
    position: absolute;
    top: -1rem;
    right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-nav__user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-nav__user-photo {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
}

.user-nav__user-name {
    color: #fff;
    padding-right: .3em;
}

.user-nav__icon-box:hover {
    transform: translateY(-3px);
    transition: all .2s;
    box-shadow: 0 .01em .09em rgba(0, 0, 0, .2);
}

.user-nav__icon-box:active {
    transform: translateY(-1px);
}

.main {
    background-image: linear-gradient(
                      to right bottom,
                        rgb(211, 82, 102, 0.8),
                       rgb(56, 56, 56, 0.8)),
                      url(../img/main.jpg);
    height: 14%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-box {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.heading-primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    
}

.heading-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: .2em;
}

.heading-primary-sub {
    display: block;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: .1rem;
    padding-bottom: 4rem;
}

.text-box-1 {
    display: flex;
    justify-content: center;
    width: 100%;    
}

.dropdown a {
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 1.35rem;
    font-weight: 300;
    border: none;
    outline: none;
    color: #383838;
    padding: 16px 30px;
    background-color: #fff;
    font-family: inherit; 
    margin-right: 1px; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #383838;
    padding: 14px 40px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    color: #383838;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.input {
    background-color: #fff;
    border: none;
    font-size: 1.3rem;
    padding: 10px 25px;
    margin-right: 1px;
}

.btn-search,
.btn-search-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 30px;
    margin-left: .8rem;
    background-color: #383838;
    border-radius: .1em;
    transition: all .2s;
}

.btn-search__link,
.btn-search__link-1 {
    font-size: 2rem;
    font-weight: 300;
    color: #888;
    text-decoration: none;
}

.btn-search:hover,
.btn-search-1:hover,
.btn-search-2:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}

.btn-search:active,
.btn-search-1:active,
.btn-search-2:active {
    transform: translateY(-1px);
}

.hot-ad,
.hot-ad__cont,
.hot-ads__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hot-ad {
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-image: linear-gradient(
                      to right bottom,
                        rgba(255, 254, 254, 0.8),
                       rgba(255, 253, 253, 0.8));
}

.hot-ad__main {
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0 3px 14px rgba(0, 0, 0, .5);
    transition: transform .3s;
}

.hot-ad__main:hover {
    transform: translateY(-1.5rem) scale(1.03);
}


.hot-ad__cont {
    justify-content: space-between;
    width: 74rem;
}

.hot-ad__text {
    width: 74rem;
    text-transform: uppercase;
    color: #888;
    font-size: 1.5rem;
    line-height: 2;
}

.hot-ad__text-pink {
    text-transform: uppercase;
    line-height: 2;
    color: #d35266;
    font-size: 1.9rem;
}

.hot-ad__text-par {
    line-height: 2;
    font-size: 1.1rem;
}

.strong {
    line-height: 1;
    font-size: 1.3rem;
}

.hot-ad__photo {
    background-image: url(../img/main.jpg);
    height: 19rem;
    width: 28rem;
    background-size: cover;
    background-position: center;
}

.hot-ads__btn{
    width: 34rem ;
    justify-content: flex-start;
}

.btn-search-1,
.btn-search-2 {
    margin-left: 0;
    margin-right: .09em;
    padding: 8px 40px;
    background-color: #d35266;
    transition: all .2s;
}

.btn-search-2 {
    padding: 8px 73.5px;
}

.btn-search__link-1 {
    color: #fff;
    font-weight: 500;
    font-size: 1.4rem;
}

main { /* For testing purposes only*/
    height: 2000px;
}

.pet-food {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53rem;
    background-color: rgb(241, 241, 241);
}

.pet-food__grid {
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    grid-template-rows: 20% 79%;
    grid-gap: 1%;
    width: 95%;
    height: 80%;
    justify-content: center;   
    align-items: center;
}

.card-heading {
    grid-column: 1/6;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    
}

.card-heading--cont {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.card-heading--bar {
    border: #c7c7c7 solid 0.5px;
    width: 100%;
}

.card-heading--left {
    font-size: 1.6rem;
    color: #646363;
    font-weight: 300;
}

.card-heading__main {
    color: #383838;
    font-weight: 900;
    font-size: 1.9rem;
}

.pet-food__card {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
}

.pet-food__card-1 {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
    background-color: #f9f9f9;
}

.pet-food__card-2 {
    grid-column: 3/4;
    grid-row: 2/3;
    height: 100%;
    background-color: #f9f9f9;
}

.pet-food__card-3 {
    grid-column: 4/5;
    grid-row: 2/3;
    height: 100%;
    background-color: #f9f9f9;
}

.pet-food__card-4 {
    grid-column: 5/6;
    grid-row: 2/3;
    height: 100%;
    background-color: #f9f9f9;
}

.card-image,
.card-image-1,
.card-image-2,
.card-image-3,
.card-image-4,
.card-image--1,
.card-image--2,
.card-image--3,
.card-image--4,
.card-image--5,
.card-image---1,
.card-image---2,
.card-image---3,
.card-image---4,
.card-image---5 {
    height: 50%;
    background-image: url(../img/kiwi-food.jpg);
    background-size: cover;
    background-position: center;
}

.card-image-1 {
    background-image: url(../img/dog-food2.jpg);
}

.card-image-2 {
    background-image: url(../img/meow-mix.jpg);
}

.card-image-3 {
    background-image: url(../img/hamster.jpg);
}

.card-image-4 {
    background-image: url(../img/horse.png);
}

.card-image--1 {
    background-image: url(../img/pet1.jpg);
}

.card-image--2 {
    background-image: url(../img/pet2.jpg);
}

.card-image--3 {
    background-image: url(../img/pet3.jpg);
}

.card-image--4 {
    background-image: url(../img/pet4.jpg);
}

.card-image--5 {
    background-image: url(../img/pet5.jpg);
}

.card-image---1 {
    background-image: url(../img/e1.jpg);
}

.card-image---2 {
    background-image: url(../img/e2.jpg);
}

.card-image---3 {
    background-image: url(../img/e3.jpg);
}

.card-image---4 {
    background-image: url(../img/e4.jpg);
}

.card-image---5 {
    background-image: url(../img/e5.jpg);
}

.card-text {
    height: 32%;
    padding: 3%;
}

.card-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    height: 20%;
}

.card-text--main {
    font-size: 1.8rem;
    font-weight: 800;
    color: #383838;
    line-height: 1;
}

.card-text--sub {
    color: #d35266;
    font-weight: 900;
    text-decoration: none;
    font-size: 1.3rem;
}

.card-text--last {
    color: #888;
    font-size: 1.2rem;
}

.card-text--region {
    color: #383838;
}

.card__icon {
    height: 3rem;
    width: 3rem;
    fill: #888;
}

.pet-food__card,
.pet-food__card-1,
.pet-food__card-2,
.pet-food__card-3,
.pet-food__card-4{
    border-radius: 3px;
    border: #888 3px;
    box-shadow: 0 3px 14px rgba(0, 0, 0, .5);
    transition: transform .3s;
}

.pet-food__card:hover,
.pet-food__card-1:hover,
.pet-food__card-2:hover,
.pet-food__card-3:hover,
.pet-food__card-4:hover {
    transform: translateY(-1.5rem) scale(1.03);
}


@media (max-width: 768px) {
    
    .header__nav-box {
        padding-left: 0;
    }

    .logo {
        height: 5rem;
        width: 5rem;
    }
    .header__btn {
        display: none;
    }

    .header__avatar-box {
        padding-right: 1em;
    }

    .user-nav__icon-box {
        padding: 0 1em;
    }

    .user-nav__user-photo {
        height: 2.75rem;
        width: 2.75rem;
    }
    
    .user-nav__user-name {
        color: #fff;
        padding-right: .06em;
    }

    .nav-items {
        width: 5rem;
    }
    
    .nav-items-1 {
        width: 7rem;
    }
    
    .header__icon {
        padding-right: .2em;
    }
    
    .link {
        font-size: .7rem; 
    }

    .user-nav__notification {
        right: -.1rem;  
    }

    .input,
    .text-box-1,
    .btn-search,
    .hot-ad {
        display: none;
    }

    .main {
        height: 8%;
    }

    .heading-primary-main {
        font-size: 3rem;   
    }
    
    .heading-primary-sub {
        font-size: .7rem;
    }

    .card-heading--left {
        font-size: 1rem;
    }
    
    .card-heading__main {
        font-size: 1.5rem;
    }

    .pet-food {
        height: 90rem; 
        width: 100%;
    }

    .pet-food__grid {
        grid-template-columns: 48% 48%;
        grid-template-rows: 10% 30% 30% 30%;
        grid-gap: 2%;
        width: 95%;
        height: 90%;
    }

    .pet-food__card {
        grid-column: 1/2;
        grid-row: 2/3;
        height: 90%;   
    }

    .pet-food__card-1 {
        grid-column: 2/3;
        grid-row: 2/3;
        height: 90%;    
    }
    
    .pet-food__card-2 {
        grid-column: 1/2;
        grid-row: 3/4;
        height: 90%;  
    }
    
    .pet-food__card-3 {
        grid-column: 2/3;
        grid-row: 3/4;
        height: 90%;   
    }
    
    .pet-food__card-4 {
        grid-column: 1/2;
        grid-row: 4/5;
        height: 90%;   
    }

    .card-text--main {
        font-size: 1.4rem;
    }
    
    .card-text--sub {
        font-size: 1.2rem;
    }




 
}
